name: "lint protobuf"
on: pull_request

jobs:
  pr-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Protobuf Liting
        uses: plexsystems/protolint-action@v0.4.0
        with:
          configDirectory: ./
